@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    
    <div class="text-center">
        <h1 class="display-4">Welcome to <strong>MyPhotos</strong></h1>
        <p>Start using this app and click here to see the results:</p>
        <a class="btn btn-primary" asp-area="" asp-page="/Folders/Index">MyPhotos</a>
    </div>
